<h2>Comments</h2>

{% if comments %}
  <ul>
    {% for comment in comments %}
      <li>{{ comment.text }}</li>
      <!-- If you have nested comments, you can display them recursively -->
      {% if comment.children.exists %}
        <ul>
          {% for child_comment in comment.children.all %}
            <li>{{ child_comment.text }}</li>
            <!-- Recursive call to display children of children -->
            {% include 'pin/child_comment.html' with comment=child_comment %}
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </ul>
{% else %}
  <p>No comments yet.</p>
{% endif %}