{% extends 'template-app/user-page.html' %}

{% block content %}
<div class="edit-pin-container">
    <div class="edit-pin">
        <h1>Edit Pin</h1>
        <form method="post" action="{% url 'edit_pin' pin_id=pin.id %}">
            {% csrf_token %}
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" value="{{ pin.title }}"><br>
            <!-- Populate current title value if available -->

            <label for="description">Description:</label><br>
            <textarea id="description" name="description">{{ pin.description }}</textarea><br>
            <!-- Populate current description value if available -->

            <button type="submit" class="save">Save</button> <!-- Changed from link to button -->
        </form>
    </div>
</div>

{% endblock %}