{% extends 'template-app/user-page.html' %}

{% block content %}
{% load static %}

    <div class="create-pin-container">
        <div class="create-pin">
            <h1>Upload Pin</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="pin_images">Pin Image:</label>
                    <br>
                    <input type="file" id="pin_images" name="pin_images">
                </div>
                <div class="form-group">
                    <label for="title">Title:</label>
                    <br>
                    <input type="text" id="title" name="title">
                </div>
                <div class="form-group">
                    <label for="description" id="desc">Description:</label>
                    <br>
                    <textarea  id="description" name="description"></textarea>
                </div>
                <div class="form-group">
                    <label for="link">Link:</label>
                    <br>
                    <input type="text" id="link" name="link">
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>


{% endblock %}