{% extends 'template-app/user-page.html' %}

{% block content %}

{% load static %}
<div class="image-main-container">
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
    <link rel="stylesheet" href="{% static 'users/comments.css' %}">

    <h1>Pin detail</h1>
    <div class="image-container">
        <div class="image-pin">
            <a href="#" class="pin-img1">
                <img src="{{ pins.pin_images.url }}" alt="{{ pins.title }}" class="pin-img2">
            </a>
            <div class="image-item">
                <div class="image-item-1">
                <div class="pin-delete-edit">
                    <div class="tiple-dot">...</div>
                    <div class="edit-delete-item">
                        <form action="{% url 'delete_pin' pins.id %}" method="post" class="delete-form">
                            {% csrf_token %}
                            <button type="submit" class="delete">Delete</button>
                        </form>
                        <div class="edit">
                            <a href="{% url 'edit_pin' pins.id %}" class="edit-btn">edit</a>
                        </div>
                    </div>
                </div>
                <div class="title-section">
                    <h2>{{ pins.title }}</h2>
                    <p>{{ pins.description }}</p>
                </div>
                <div class="user-container">
                    {% for us in user %}
                    <div class="user-data">
                        <div class="users">
                            <a href="{% url 'dashboard' us.username %}" class='logo'>
                                <div class="capital-letter">{{ us.username|slice:":1"|upper }}</div>
                            </a>
                            <div class="pin-users">
                                <h3>{{ us.username }}</h3>
                                <div class="following-container">
                                    <div class="username">
                                        <div class="followers-count">
                                            <div id="followers">{{ follower_count }}</div>
                                            <div id="openFollowersModal" data-username="{{ us.username }}">Followers
                                            </div>
                                        </div>
                                    </div>
                                    <div class="openFollowingModal" id="openFollowingModal"
                                        data-username="{{ us.username }}">Following</div>
                                    <div id="followersModal" class="modal">
                                        <div class="modal-content">
                                            <span class="close">&times;</span>
                                            <ul id="followersList"></ul>
                                        </div>
                                    </div>
                                    <div id="followingModal" class="modal">
                                        <div class="modal-content">
                                            <span class="close">&times;</span>
                                            <ul id="followingList"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="follow" id="follow-button" data-username="{{ us.username }}"
                            data-image-id="{{ pins.id }}" data-follow-state="{{ user.follow_state }}">follow</div>
                    </div>
                    {% endfor %}
                </div>

            </div>

                <div class="pin-container">
                    <div class="pin-details">
                        
                        <form method="post" id="parent-comment-form" action="{% url 'comment_pin' pins.id %}">
                            {% csrf_token %}
                            <textarea name="comment-text" id="comment-text" rows="4" cols="50" placeholder="Add a comment"></textarea><br>
                            <input type="submit" name="comment-submit" value="Submit Comment">
                        </form>
                        <div class="comments">
                            <button id="comments-link" data-pin-id="{{ pins.id }}">View Comments</button>
                        </div>
                    </div>
                    <div class="comments-section" id="comments-section">
                        <!-- Comments will be dynamically added here by JavaScript -->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'users/javascript/follow.js' %}"></script>
{%endblock%}