{% extends 'template-app/user-page.html' %}

{% block content %}

{% load static %}
    
<div class="pin-main-container">
    
    <h1>Pin List</h1>
    <div id="pin-container">
        {% for pin in pins %}
        <div class="pin">
            <a href="{% url 'image_detail' pin.id %}" class="pin-image">
                <img src="{{pin.pin_images.url}}" alt="{{ pin.title }}" class="pin-img">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<!-- <link rel="stylesheet" href="{% static 'users/style.css' %}"> -->
{% endblock %}