/* users/comments.css */
.comments-section {
    margin-top: 20px;
    max-height: 220px;  /* Set the maximum height for the comments section */
    overflow-y: auto;   /* Enable vertical scrolling */
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: none;
}

.comment-item {
    background-color: #f9f9f9; /* Light grey background */
    border: 1px solid #ddd;    /* Light grey border */
    padding: 15px;             /* Padding inside each comment */
    margin-bottom: 10px;       /* Space between comments */
    border-radius: 5px;        /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
}

.comment-item p {
    margin: 0;
    padding: 5px 0;
}

.comment-item strong {
    color: #333;
    font-weight: bold;
}

#comments-link {
    background-color: #007bff; /* Bootstrap primary blue color */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

#comments-link:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
#parent-comment-form{
    height:100px;
}

#parent-comment-form textarea {
    width: 100%;
    height:40px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#parent-comment-form input[type="submit"] {
    background-color: #28a745; /* Bootstrap success green color */
    color: white;
    border: none;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#parent-comment-form input[type="submit"]:hover {
    background-color: #218838; /* Darker green on hover */
}


/* css gpt */

.comment-item {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.reply-item {
    margin-left: 40px;
    border-left: 2px solid #ccc;
    padding-left: 10px;
}

.reply-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}

.reply-button:hover {
    background-color: #0056b3;
}

.reply-form-container {
    margin-top: 10px;
}

.reply-form {
    display: flex;
    flex-direction: column;
}

