* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.nav-left {
    width: 40%;
    justify-content: space-around;
    display: flex;
}

.nav-img-logo{
    width:30px;
}
.nav-logo{
    width:100%;
}

.navbar-logo{
    display: flex;
}

.navbar-logo a {
    color: #e60023;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}

.navbar-links{
    padding-top: 5px;
}


form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    justify-content: space-around;
    background-color: white;
    align-items: center;
}

.main-register {

    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.register {
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #cec5c5;
}

.form-group {
    display: flex;
    flex-direction: column;

}

.logo {
    width: 100%;
}

.pin-logo {
    width: 20px;
    height: 20px;
}


#reg-btn {
    width: 200px;
    background-color: red;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
}


.navbar-links a {
    color: #000;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}


.navbar-actions a {
    color: #555;
    text-decoration: none;
    margin-right: 20px;
}

input {
    border-radius: 10px;
    width: 200px;
    height: 25px;
}

#log-btn {
    height: 35px;
    border-radius: 20px;
    background-color: red;
}

.index-container{
    width:100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#index-head{
    font-size: 60px;
}

#heading{
    font-size: 60px;
}

.profile-main-container{
    width:100%;
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.profile-container{
    width: 40%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    align-items: center;
    border-radius: 17px;
    box-shadow: blue;
    border: 2px solid aliceblue;
    margin-top: 60px;
}

.first-letter{
    width: 100px;
    height:100px;
    background-color: #ccc;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: bold;
}

.profile-btn{
    width: 200px;
    height:30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile-btn1{
    width: 70px;
    height:25px;
    background-color: aliceblue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.search-box{
    width:40%;
    height:35px;
}



.user-name{
    /* width:200px; */
    font-size: 45px;
    font-weight: bold;
}
.email{
    color:#ccc;
}

#nav-left{
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.profile-input{
    width: 100%;
    height:100%;
    border-radius: 20px;
    padding-left: 5px;

}

#navbar-action{
    width:20%;
    display: flex;
    justify-content: space-around;
}

.logo{
    width:50px;
    height:35px;
    background-color:#ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
}

.capital-letter{
    font-size: 25px;
    font-weight:bold;
    
}


.pin-main-container{
    width:100%;
    height:100vh;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.image-main-container{
    width: 100%;
    height: 1040px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.image-main-container h1{
    margin-top: 20px;
}
.image-container{
    width:100%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.image-pin{
    width: 950px;
    height: auto;
    display: flex;
    background-color: white;
    border-radius: 25px;
    align-items:center;
}

.pin-img1{
    width:50%;
    height:auto;
    overflow: hidden;
    border-radius: 25px;
}
.pin-img2{
    width:100%;
    object-fit: cover;
    height:auto;
}

.pin-users h3{
    font: normal normal bold 28px/34px Helvetica;
}

.image-item{
    width: 50%;
    height: 715px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.image-item-1{
    width: 100%;
}

.pin-delete-edit{
    width:100%;
    height:40px;
    display: flex;
    justify-content: space-between;   
}

.delete-form{
    width:80px;
    height:30px;
    border-radius:16px;
    cursor: pointer;
}
.delete{
    width: 100%;
    height:100%;
    cursor: pointer;
    background-color: red
}

.create-pin-container{
    width: 100%;
    display: flex;
    justify-content: center;

}

.create-pin{
    width: 350px;
    height:350px;
    background-color:#555;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}

#desc{
    width:200px;
}

.edit-pin-container{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
   
}

.edit-pin{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
     background-color: #555;

}

.edit{
    width: 80px;
    height: 30px;
    background-color: #ccc;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.edit-btn{

    text-decoration: none;
    color: black;
}

.user-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-data{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;

}

.follow{
    width:100px;
    height: 30px;
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
    padding-top: 6px;
    cursor: pointer;
    background-color: blue;
}


/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .user-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .following-container{
    width:100%;
  }
  .username{
    width: 100%;
    display: flex;
    justify-content: space-around
  }
  

  .followers-count {
    display: flex;
    justify-content: space-between;
    width: 100px;
    cursor: pointer;
  }

  .following-count{
    display: flex;
    justify-content: space-between;
    width: 100px;
    cursor: pointer;
  }

  .follow-list{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .modal-content{
    width: 350px;
  }
  .close{
    color:red;
  }


  a{
    color: black;
    text-decoration: none;
  }


  .edit-delete-item{
    display: flex;
    width: 40%;
    justify-content: space-around;
  }

  .title-section{
    width: 100%;
    height: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .users{
    display: flex;
    width: 40%;
    justify-content: space-around;
  }
  .openFollowingModal{
    display: none;
  }

  #form{
    height: 145px;
  }


 

#pin-container {
    display: flex;
    width:100%;
    /* margin-top: 15px; */
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    max-width: 1200px;
}

.pin {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
    transition: transform 0.2s ease-in-out;
    width: 100%;
    max-width: 250px;
    /* position: static; */
}

.pin:hover {
    transform: translateY(-5px);
}

.pin-image {
    display: block;
    width: 100%;
    height: auto;
  
}

.pin-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}


.pin img {
    transition: transform 0.2s ease-in-out;
}

.pin:hover img {
    transform: scale(1.05);
} 







