{% extends "./user-page.html" %}

{% block content %}
{% load static %}
<div class="profile-main-container">

    <div class="profile-container">
        {% for user in profile %}
        <div class="first-letter">{{ user.username|slice:":1"|upper }}</div>
        <div class="user-name">{{user.username}}</div>
        <div class="email">{{user.email|slice:":-10"}}</div>
        <div class="following-container">
            <div class="username">
                <div class="followers-count">
                    <div id="followers">{{follower_count}}</div>
                    <div id="openFollowersModal" data-username="{{user.username}}">Followers</div>
                
                </div>
                <div class="following-count">

                    <div id="following">{{following_count}}</div>
                    <div id="openFollowingModal" data-username="{{user.username}}">Following</div>
                    
                </div>
            </div>
            <!-- Modals -->
            <div id="followersModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <ul id="followersList"></ul>
                </div>
            </div>

            <div id="followingModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <ul id="followingList"></ul>
                </div>
            </div>

        </div>
        <div class="profile-btn">
            <div class="profile-btn1">
                <a href="{% url 'pin_list' user.id %}" class="profile-created">created</a>
            </div>
            <button class="profile-btn1">saved</button>
        </div>
        {% endfor %}
        <a href="{% url 'user-logout' %}"> logout </a>
    </div>
</div>

<script src="{% static 'users/javascript/follow.js' %}"></script>
{% endblock %}