{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome to pinterest</title>
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
    <link href="https://db.onlinewebfonts.com/c/bfbdc6a04609bff0d5ccdfcf6b766d95?family=Flood+Std" rel="stylesheet" />
    <!-- src/static/users/style.css -->
</head>

<body>
    <nav class="navbar">
        <div class="nav-left">
            <div class="navbar-logo">
                <a href="{% url '' %}" class="nav-img-logo">
                    <img src="{% static '/users/images/pinterest.png' %}" alt="" class="nav-logo">
                </a>
                <a href="{% url '' %}">Pinterest</a>
            </div>
            <div class="navbar-links">
                <a href="#">Today</a>
                <a href="#">Watch</a>
                <a href="#">Explore</a>
            </div>
        </div>
        <div class="navbar-actions">
            <a href="#">About</a>
            <a href="#">Business</a>
            <a href="#">Blog</a>
            <a href="{% url 'login' %}" id="login">Log in</a>
            <a href="{% url 'registration' %}">Sign up</a>
        </div>
    </nav>
    {% block content %}
    <div class="index-main-container">
        <div class="index-container">
            <h1 id="index-head">Get Your next</h1>
            <h1 id="heading"></h1>
        </div>
    </div>
        <div id="pin-container">
            {% for pin in pins %}
            
            <div class="pin">
                <a href="{% url 'image_detail' pin.id %}" class="pin-image">
                    <img src="{{pin.pin_images.url}}" alt="{{ pin.title }}" class="pin-img">
                </a>
            </div>
        
            {% endfor %}
        </div>
        
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
    <script src="{% static 'users/javascript/index.js' %}"></script>

    {% endblock %}


    
</body>

</html>