{% extends "./index.html" %}
{% block content %}
{% load static %}
<div class="main-register">
    <div class="register">
        <div class="pin-logo">
            <img src="{% static '/users/images/pinterest.png' %}" alt="" class="logo">
        </div>
        <h2>welcome to Pinterest</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
            </div>
            <div class="form-group">
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"><br><br>
            </div>
            <input type="submit" value="Login" id='log-btn'>
        </form>

        <footer class="reg-footer">
            <h4>Are you a business? Get started here!</h4>

        </footer>
    </div>
</div>

{% endblock %}