{% extends "./index.html" %} 

{% block content %}
<h1>This is login page</h1>

<form method="POST" autocomplete="off">
    {% csrf_token %}

    {{loginform.as_p}}

    <input type="submit" value="Login"/>

</form>

{% endblock %}