{% extends "./index.html" %}
{% block content %}
{% load static %}
<div class="main-register">
<div class="register">
<div class="pin-logo">
    <img src="{% static '/users/images/pinterest.png' %}" alt="" class="logo">
</div>
<h2>welcome to Pinterest</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
        </div>  
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
        </div>
        
       
        <button type="submit" id="reg-btn">Register</button>
    </form>
    <footer class="reg-footer">
        <h4>Create a free business account</h4>

    </footer>
  </div>
</div>
    {% endblock %}