{% extends "./index.html" %} 

{% block content %}
<h1>This is register page</h1>
<form method="POST" autocomplete="off">
    {% csrf_token %}

    {{registerform.as_p}}

    <input type="submit" value="Register"/>

</form>
{% endblock %}