{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome to pinterest</title>
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
</head>

<body>
    <nav class="navbar">
        <div id="nav-left">
            <div class="navbar-logo">
                <a href="{% url 'user-page' %}" class="nav-img-logo">
                    <img src="{% static '/users/images/pinterest.png' %}" alt="" class="nav-logo">
                </a>
                <a href="{% url 'user-page' %}">Home</a>
            </div>
            <div class="navbar-links">
                <a href="{% url 'user-page' %}">Explore</a>
                <a href="{% url 'upload_pin' %}">Create</a>
            </div>
        </div>
        <div class="search-box">
            <input type="text" placeholder="search" class="profile-input">
        </div>
        <div class="navbar-actions" id="navbar-action">
            <div class="navbar-logo">
                <a href="#" class="nav-img-logo">
                    <img src="{% static '/users/images/notification.png' %}" alt="" class="nav-logo">
                </a>
            </div>

            <div class="navbar-logo">
                <a href="#" class="nav-img-logo">
                    <img src="{% static '/users/images/message-notification.svg' %}" alt="" class="nav-logo">
                </a>
            </div>

            {% for user in profile %}
                <a href="{% url 'dashboard' user.username %}" class='logo'>
                    <div class="capital-letter">{{ user.username|slice:":1"|upper }}</div>
                </a>
            {% endfor %}

        </div>
    </nav>
    {% block content %}
    <div class="index-main-container">
      
        <div id="pin-container">
            {% for pin in pins %}
            <div class="pin">
                <a href="{% url 'image_detail' pin.id %}" class="pin-image">
                    <img src="{{pin.pin_images.url}}" alt="{{ pin.title }}" class="pin-img">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
  

    <script src="{% static 'users/javascript/index.js' %}"></script>

    {% endblock %}
</body>

</html>